In [61]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from longitudinal.settings.constants import DATA_PATH

from sklearn.ensemble import RandomForestRegressor

import warnings
warnings.filterwarnings("ignore")

gen1_train = pd.read_csv(DATA_PATH + "gen1_train_comp_final.csv")  # parent data (training)
gen2_train = pd.read_csv(DATA_PATH + "gen2_train_comp_final.csv")  # child data (training)
gen1_test = pd.read_csv(DATA_PATH + "gen1_test_comp_final.csv")    # parent data (test)
gen2_test = pd.read_csv(DATA_PATH + "gen2_test_upto9_comp_final.csv")  # child data, up to age 9

gen1_train = gen1_train.rename(columns={"age": "AgeGr"})
gen1_test = gen1_test.rename(columns={"age": "AgeGr"})
gen1_train['sex_assigned_at_birth'] = gen1_train['sex_assigned_at_birth'].map({'M': 1, 'F': 0})
gen2_train['sex_assigned_at_birth'] = gen2_train['sex_assigned_at_birth'].map({'M': 1, 'F': 0})
gen2_train['study_parent_sex'] = gen2_train['study_parent_sex'].map({'mother': 1, 'father': 0})

gen1_train = gen1_train.rename(columns={
    "gen1_id": "person_id",  # was gen1_id
    "SHgt_cm": "height_cm"   # rename for clarity
})

gen2_train = gen2_train.rename(columns={
    "gen2_id": "person_id",  # was gen2_id
    "SHgt_cm": "height_cm"   
})

gen1_train["generation"] = 1
gen2_train["generation"] = 2

# submission template
submission = pd.read_csv(DATA_PATH + "gen2_test_solution_template.csv")
submission["gen2_id"] = submission["gen2id_age"].str[: 4].astype(float)
submission["age"] = submission["gen2id_age"].str[-2:].astype(float)
submission.head()

  gen2id_age  SHgt_cm  gen2_id   age
0    2831_10      150   2831.0  10.0
1    2831_11      150   2831.0  11.0
2    2831_12      150   2831.0  12.0
3    2831_13      150   2831.0  13.0
4    2831_14      150   2831.0  14.0

In [52]:
gen1_train.sample(15)

      person_id  sex_assigned_at_birth  AgeGr   height_cm  generation
229         748                      1    9.0  143.435583           1
3291        412                      0   10.0  144.093093           1
1253        634                      1   17.0  180.906863           1
2655        497                      1   16.0  191.867411           1
3347        410                      1   20.0  180.881129           1
386         725                      0   15.5  163.269774           1
3173        433                      0    1.5         NaN           1
1934        552                      0   15.5  166.012964           1
661         706                      0    9.0  133.709588           1
2237        527                      1    1.5   86.649765           1
1940        552                      0   18.5         NaN           1
2276        525                      0    4.0  109.412809           1
1783        570                      0   12.0  155.505688           1
1494        604                      0   11.5  146.674957           1
2786        485                      1    9.5         NaN           1

In [64]:
import numpy as np
from sklearn.linear_model import BayesianRidge

# Ensure a copy to avoid SettingWithCopyWarning
z = gen1_train[gen1_train["person_id"] == 401].copy()

z["height_cm"] = z["height_cm"]

# Save the original values
z["height_cm_TRUTH"] = z["height_cm"]

# Introduce missing values
z.loc[z["AgeGr"] < 1, "height_cm"] = np.nan
z.loc[(z["AgeGr"] >= 7) & (z["AgeGr"] < 9), "height_cm"] = np.nan

# Track missing values
z["h_null"] = np.where(z["height_cm"].isna(), 1, 0)

# MICE Imputer
features_for_imputation = ["height_cm"]

z["height_cm"] = z["height_cm"].interpolate(method="polynomial", order=2)
mice_imputer = IterativeImputer(max_iter=10, random_state=42, min_value=0, estimator=BayesianRidge())
z[features_for_imputation] = mice_imputer.fit_transform(z[features_for_imputation])

z

,person_id,sex_assigned_at_birth,AgeGr,height_cm,generation,height_cm_TRUTH,h_null
3348,401,1,0.10,161.110964,1,56.579066,1
3349,401,1,0.25,161.110964,1,64.485911,1
3350,401,1,0.50,161.110964,1,71.828223,1
3351,401,1,0.75,161.110964,1,76.179279,1
3352,401,1,1.00,81.528996,1,81.528996,0
3353,401,1,1.50,89.453099,1,89.453099,0
3354,401,1,2.00,96.304374,1,96.304374,0
3355,401,1,3.00,108.800714,1,108.800714,0
3356,401,1,4.00,117.103821,1,117.103821,0
3357,401,1,5.00,125.289878,1,125.289878,0
3358,401,1,6.00,133.201023,1,133.201023,0
3359,401,1,7.00,140.993456,1,140.686366,1
3360,401,1,8.00,148.380602,1,147.252071,1
3361,401,1,9.00,153.273880,1,153.273880,0
3362,401,1,9.50,155.325193,1,NaN,1
3363,401,1,10.00,156.728895,1,156.728895,0
3364,401,1,10.50,159.540609,1,159.540609,0
3365,401,1,11.00,162.802501,1,162.802501,0
3366,401,1,11.50,165.788564,1,165.788564,0
3367,401,1,12.00,169.316177,1,169.316177,0
3368,401,1,12.50,173.276328,1,173.276328,0
3369,401,1,13.00,177.619232,1,177.619232,0
3370,401,1,13.50,181.555662,1,181.555662,0
3371,401,1,14.00,185.153253,1,185.153253,0
3372,401,1,14.50,186.300511,1,186.300511,0
3373,401,1,15.00,189.531661,1,189.531661,0
3374,401,1,15.50,189.528084,1,189.528084,0
3375,401,1,16.00,189.817354,1,189.817354,0
3376,401,1,16.50,189.524850,1,189.524850,0
3377,401,1,17.00,189.414387,1,189.414387,0
3378,401,1,17.50,189.158593,1,189.158593,0
3379,401,1,18.00,189.778535,1,189.778535,0
3380,401,1,18.50,190.320932,1,NaN,1
3381,401,1,19.00,190.536730,1,190.536730,0
3382,401,1,19.50,190.373054,1,NaN,1
3383,401,1,20.00,189.829903,1,189.829903,0

In [23]:
gen2_train.head()

,gen2_id,sex_assigned_at_birth,study_parent_sex,study_parent_id_new,AgeGr,SHgt_cm,Wgt_kg
0,3012,1,1,636,0.10,56.251625,4.636903
1,3012,1,1,636,0.25,64.491579,NaN
2,3012,1,1,636,0.50,70.465927,NaN
3,3012,1,1,636,0.75,73.992677,NaN
4,3012,1,1,636,1.00,79.343537,NaN

In [24]:
gen1_train = gen1_train.rename(columns={
    "gen1_id": "person_id",  # was gen1_id
    "SHgt_cm": "height_cm"   # rename for clarity
})

gen2_train = gen2_train.rename(columns={
    "gen2_id": "person_id",  # was gen2_id
    "SHgt_cm": "height_cm"   
})

gen1_train["generation"] = 1
gen2_train["generation"] = 2

# Now they have common column names for person_id, height_cm, AgeGr, etc.
# Optional: if Wgt_kg only exists in gen2, thatâ€™s fine; it will just become an extra column for gen1 with NaNs.